<div>
  <form class="form-inline my-2 d-flex justify-content-end">
    <input (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>



<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Név</th>
          <th>Szuperképesség</th>
          <th>Utolsó ismert lakcím</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hero of heroList$ | filter:phraseString:'name' | async">
          <td>{{ hero.id }}</td>
          <td>{{ hero.name }}</td>
          <td>{{ hero.superPower }}</td>
          <td>{{ hero.address }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
